<h1>Book a flight</h1>
<%= form_with model: @booking do |f|%>
  <% flight = Flight.find params[:flight_id] %>
  <%= f.text_field :flight_id, value: flight.id, hidden: true%>
  <p>From: <%= flight.departure_airport.code %> </p>
  <p>To: <%= flight.arrival_airport.code %> </p>
  <p>Date: <%= flight.start.strftime("%Y-%m-%d, %H:%M") %> </p>
  <p>Duration: <%= flight.duration %> </p>
  <p>Passengers:</p>
  <div data-controller="passengers">
  <%= f.fields_for :passengers do |p|%>
    <div data-controller="passenger-inputs">
      <div>
        <%= p.label :name %>
        <%= p.text_field :name %>
      </div>
      <div>
        <%= p.label :email %>
        <%= p.email_field :email %>
      </div>
      <%= button_tag "Remove Passenger", type: "button", "data-action": "passenger-inputs#remove"%>
      <hr>
    </div>
  <% end %>

  <%= button_tag "Add Passenger", type: "button", "data-action": "passengers#new"%>
  </div>
  <%= f.submit %>
<% end %>
